@page {
    size: letter;
    margin: 0;
}

.container {
    padding: 10px;
    overflow-y: auto;
}

.invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

.tr {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.trh {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.invoice-box .table {
    width: 100%;
    line-height: inherit;
    text-align: left;
    border-collapse: collapse;
}

.invoice-box .table .td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box .table .tr .td:nth-child(2) {
    text-align: left;
}

/* .invoice-box .table .trh.top .table .td {
    padding-bottom: 20px;
} */

.invoice-box .table .trh.top{
    grid-template-columns: 2fr 1fr;
}

.invoice-box .table .trh.top .td.title {
    /* font-size: 45px; */
    /* line-height: 45px; */
    /* color: #333; */
    text-align: center;
    /* font-weight: bold; */
}

.invoice-box .table .trh.top .td {
    text-align: right;
}

.invoice-box .table .trh.top .td.title h1 {
    margin: auto;
    font-weight: bold;
}

.invoice-box .table .trh.top .td.title h3 {
    margin: auto;
    font-weight: bold;
}

.invoice-box .table .trh.top .td.title h6 {
    margin: auto;
    font-weight: bold;
}

.invoice-box .table .trh.top .td h6 {
    margin: auto;
    font-weight: bold;
}
.invoice-box .table .trh.top .td h4 {
    margin: auto;
    font-weight: bold;
    color: red;
}

.invoice-box .table .dt {
    text-align: right;
    line-height: 40px;
}


/* .invoice-box .table .trh.information .table .td {
    padding-bottom: 40px;
} */

.invoice-box .table .tr.heading {
    grid-template-columns: 2fr 1fr;
}

.invoice-box .table .tr.heading .td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    text-align: center;
}

.invoice-box .table .tr.details {
    grid-template-columns: 2fr 1fr;
}

.invoice-box .table .tr.details .td {
    padding-bottom: 20px;
    text-align: center;
}

.invoice-box .table .tr.item .td {
    border-bottom: 1px solid #eee;
}

.invoice-box .table .tr.item.last .td {
    border-bottom: none;
}

.invoice-box .table .footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.invoice-box .table .footer .td {
    text-align: center;
    padding: 0px;
    line-height: 20px;
}

.invoice-box .table .footer .td.left {
    font-size: small;
}

.invoice-box .table .tr.total .td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .invoice-box .table .tr.top .table .td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box .table .tr.information .table .td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .trh {
        display: block !important;
        text-align: center;
    }

    .invoice-box .table .trh.top .td h6 {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box .table .trh.top .td h4 {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box .table .trh.top .td img{
        display: block; /* Ensure the image is displayed as a block element */
        margin: 0 auto; /* Center the image horizontally */
    }
    
    .invoice-box .table .dt {
        width: 100%;
        display: block;
        text-align: center;
    }

    .subtitle {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box .table .tr.item {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box .table .tr.item.last {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box .table .footer {
        width: 100%;
        display: block;
        text-align: center;
    }
}

.buttons-container {
    position: fixed;
    bottom: 20px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 999; /* Ensure it appears above other content */
}

@media print {
    .buttons-container {
        display: none;
    }
}
